<!-- Photo Grid -->
<section class="container mx-auto p-6">
    <h2 class="text-3xl font-bold mb-6 text-gray-800">Browse Photos</h2>
    <div class="grid grid-cols-3 gap-6">
        <% photos.forEach(photo => { %>
        <div class="relative group">
            <img
                src="/get-image<%= photo.watermarkImagePath.split('uploads')[1] %>"
                class="w-full h-64 object-cover rounded-lg"
                style="
                    -webkit-user-drag: none;
                    pointer-events: none;
                    user-drag: none;
                "
            />
            <a
                href="/photos/<%= photo.id %>"
                class="absolute inset-0 bg-black rounded-lg bg-opacity-50 opacity-0 group-hover:opacity-100 flex justify-center items-center text-white text-lg font-semibold"
                >View</a
            >
        </div>
        <% }) %>
    </div>
</section>
