<a href="/photos">< Back</a>
<h1>Verifiy Account</h1>
<form action="/verifiy-account" method="POST" enctype="multipart/form-data">
    <input type="text" placeholder="OTP" name="otp" required />
    <input type="file" name="national_id" required />
    <input type="file" name="selfie" required />
    <button type="submit">submit</button>
</form>
